body {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    font-family: "Open Sans", sans-serif;
    color: #272829;
    scroll-behavior: smooth;
    /* common Variable */
    /* --base-color : #149ddd; */
    --base-color: wheat;
    --primary-color: #149ddd;
    /* overflow-x: hidden; */
}

a {
    color: var(--primary-color);
}

a:hover {
    color: #37b3ed;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    /* letter-spacing: 1px; */
}

/* HEADER */

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
}

#header .profile img {
    width: 120px;
    margin: 15px auto;
    display: block;
    border: 8px solid #4a4d5c;
    cursor: pointer;
}

#header .profile img:hover {
    border: 8px solid var(--primary-color);
    filter: grayscale(60%);
}

#header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
}

#header .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s
}

#header .profile .social-links a:hover {
    /* background: #149ddd; */
    background: var(--base-color);
    color: #fff;
    text-decoration: none;
    animation-name: rotate;
    animation-duration: 0.6s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        color: #fff;
        background-color: var(--primary-color)
    }

    to {
        transform: rotate(360deg);
        color: black;
        background-color: antiquewhite;
    }
}

#header .profile h1 a {
    color: #fff;
    text-decoration: none;
}

#header .profile h1 a:hover {
    color: var(--base-color);
    text-decoration: none;
}

#main {
    margin-left: 300px;
}

@media (max-width: 1199px) {
    #header {
        left: -300px;
    }

    #main {
        margin-left: 0;
    }
}

/* Navigation links */
.nav-menu {
    padding-top: 30px;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active a,
.nav-menu li:hover a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.nav-menu a:hover i,
.nav-menu .active a i,
.nav-menu li:hover a i {
    color: var(--base-color);
    /* font-weight: 200; */
}

/* Mobile Navigation */
.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: black;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}

.mobile-nav-toggle .mobile-nav-active i {
    color: #fff;
}

/* Hero section */
#hero {
    width: 100%;
    height: 100vh;
    background: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

#hero::before {
    content: "";
    background: rgba(5, 13, 24, 0.294);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
}

#hero h1 {
    /* -webkit-text-stroke: 0.3vh #383d38; */
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 600;
    list-style: 56px;
    color: #fff;
    /* animation: text-animate 6s linear infinite; */
}

#hero .hero-suggestions {
    position: absolute;
    top: 10%;
    right: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
}

.hero-suggestions a {
    padding: 20px;
    font-size: 2em;
    color: #fff;
}

.hero-suggestions a:hover {
    color: var(--base-color)
}


@media (max-width : 768px) {
    #hero .hero-suggestions {
        flex-direction: column;
    }
}

/* @keyframes text-animate {
    0% {
        -webkit-text-stroke: 0.3vh #383d38;
        color : rgba(255, 255, 255, 0.15);
    }
    70% {
        -webkit-text-stroke: 0vh #fff;
        color : #fff
    }
    100% {
        -webkit-text-stroke: 0.3vh #383d38;
        color : rgba(255, 255, 255, 0.15);
    }
} */

#hero p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}

#hero p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--base-color);
}

/* Responsive */
@media (min-width : 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width : 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero p {
        font-size: 18px;
        line-height: 36px;
        margin-bottom: 30px;
    }

}

/* Section general */

section {
    padding-top: 30px;
    overflow: hidden;
}

.section-bg {
    background: #f5f8fd;
}

.section-title {
    padding-bottom: 10px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
    cursor: pointer;
    letter-spacing: 1px;
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

.section-title h2:hover::after {
    animation: underline 1s ease-out infinite;
}

@keyframes underline {
    0% {
        left: 0;
        background: #149ddd;
        width: 0px;
    }

    50% {
        width: 80px;
        left: 0;
    }

    100% {
        left: 8%;
        width: 0px;
    }
}

.section-subtitle {
    padding-bottom: 10px;
}

/* About */

.about .container-fluid {
    padding: 15px;
}

.about .content {
    padding: 15px
}

.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #173b6c;
    padding: 10px;
}

.about .content p {
    padding: 10px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-bottom: 10px;
    padding-top: 10px;
}

.about .content ul i {
    font-size: 20px;
    padding-right: 2px;
    color: #149ddd;
}

.about .content p:last-child {
    margin-bottom: 0
}

.about-image img {
    /* margin-left: 50px; */
    width: 400px;
    height: auto;
}

@media (max-width : 768px) {
    .about-image img {
        margin-left: 30px;
        width: 300px;
        height: auto;
    }

    .about-image {
        padding: 0 !important
    }

    .about .content {
        padding: 20px !important
    }
}

/* FACTS */

#facts {
    min-height: 30vh;
    /* padding-bottom: 10px; */

}

.facts .count-box {
    text-align: center;
    width: 100%;
    padding-bottom: 20px
}

.facts .count-box i {
    display: block;
    font-size: 44px;
    color: var(--primary-color);
    float: left;
}

.facts .count-box span {
    font-size: 40px;
    line-height: 40px;
    display: block;
    font-weight: 700;
    color: #050d18;
    padding: 20px;
}

.facts .count-box h4 {
    color: var(--primary-color)
}

.facts .count-box h4,
.facts .count-box p {
    font-family: "Raleway", sans-serif;
}

.facts .count-box p {
    margin: 0 !important;
    color: #122f57
}

.facts .count-box .percent::after {
    content: "%"
}

.facts .count-box .cgpa::after {
    content: " CGPA";
    font-size: 35px
}

/* Skills */
.skills .progress {
    height: 50px;
    display: block;
    background: none;
}

.skills .progress .skill {
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #050d18;
}

.skills .progress .skill .val {
    float: right;
    font-style: normal;
}

.skills .progress-bar-wrap {
    background: #dce8f8;
}

.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: .9s;
    background-color: #149ddd;
}

/* TOOLS & TECHS */

.tools-container {
    height: 400px;
    /* background-color: #6f7180; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.tools-container .tool-nav {
    font-size: 50px;
    cursor: pointer;
    text-align: center;
}

.tools-container .tools-section {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.tools-section .active {
    display: flex;
}

.tools-section .hidden {
    display: none;
}

.tools-content .tool-logo {
    position: absolute;
    left: 1px;
    height: 400px;
    transition-property: opacity,transform
}

.tools-content .tool-logo {
    animation: tools-logo-slide 1s ease-in-out forwards;
}

@keyframes tools-logo-slide {
    0% {
        transform: translateY(-100%);
        opacity: 0
    }
    100% {
        transform: translateY(0);
        opacity: 1
    }
}

.tools-content .tool-logo img {    
    max-width: 300px;
    max-height: 300px;
}

.tools-content .tool-desc {
    height: 400px;
}

.tools-content .tool-desc {
    animation: tools-desc-slide 1s ease-in-out forwards;
}

@keyframes tools-desc-slide {
    0% {
        transform: translateY(100%);
        opacity: 0
    }
    100% {
        transform: translateY(0%);
        opacity: 1
    }
}

.tools-content .tool-desc p {
    font-size: 20px
}

.tool-logo, .tool-desc {
    position: absolute;
    right: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tools-container .tool-nav-resp {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
    display: none;
}

@media (max-width: 991px) {
    .tools-container {
        height: 600px;
    }

    .tools-container .tools-section {
        height: 500px;
    }

    .tools-content .tool-logo {
        top: 1px;
        height: 250px;
    }

    .tools-content .tool-logo img {    
        /* max-width: 200px; */
        max-height: 200px;
        min-width: 200px;
        
    }
    
    .tools-content .tool-desc {
        bottom: 1px;
        height: 200px;
        
    }

    .tools-content .tool-desc p {
        font-size: 18px;
    }

    .tool-nav {
        display: none;
    }

    .tool-nav-resp {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    @keyframes tools-logo-slide {
        0% {
            transform: translateX(-100%);
            opacity: 0
        }
        100% {
            transform: translateX(0);
            opacity: 1
        }
    }

    @keyframes tools-desc-slide {
        0% {
            transform: translateX(100%);
            opacity: 0
        }
        100% {
            transform: translateX(0%);
            opacity: 1
        }
    }
}



/* FOOTER */
footer {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.89);
    text-align: center;
    font-size: 15px;
    color: wheat;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    letter-spacing: 3px;
}